flows.json
[
    {
        "id": "6b9f3a14870fafb0",
        "type": "tab",
        "label": "流程2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bcedb61364cdebb",
        "type": "inject",
        "z": "6b9f3a14870fafb0",
        "name": "一到五(On)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "On",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "f92a6b54fc23dce2"
            ]
        ]
    },
    {
        "id": "0ba761963ec72db6",
        "type": "mqtt out",
        "z": "6b9f3a14870fafb0",
        "name": "",
        "topic": "alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d879983d.6d20b8",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "f0705094f894292a",
        "type": "inject",
        "z": "6b9f3a14870fafb0",
        "name": "一到五(Off)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "04 10 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Off",
        "payload": "Off",
        "payloadType": "str",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "f92a6b54fc23dce2",
                "d7dbdc77c581fb17",
                "73bb7a84f67a225f"
            ]
        ]
    },
    {
        "id": "9929945ed8e4edfa",
        "type": "debug",
        "z": "6b9f3a14870fafb0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "f92a6b54fc23dce2",
        "type": "trigger",
        "z": "6b9f3a14870fafb0",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-4000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "Off",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "462b53fe1afe19bc"
            ]
        ]
    },
    {
        "id": "462b53fe1afe19bc",
        "type": "change",
        "z": "6b9f3a14870fafb0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "On",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 300,
        "wires": [
            [
                "9929945ed8e4edfa",
                "0ba761963ec72db6"
            ]
        ]
    },
    {
        "id": "d7dbdc77c581fb17",
        "type": "mqtt out",
        "z": "6b9f3a14870fafb0",
        "name": "",
        "topic": "alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d879983d.6d20b8",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "200083963ea23935",
        "type": "inject",
        "z": "6b9f3a14870fafb0",
        "name": "六、日(On)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 10 * * 0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "On",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "f92a6b54fc23dce2"
            ]
        ]
    },
    {
        "id": "f98cb58bae53713b",
        "type": "inject",
        "z": "6b9f3a14870fafb0",
        "name": "六、日(Off)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "04 10 * * 0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Off",
        "payload": "Off",
        "payloadType": "str",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "f92a6b54fc23dce2",
                "d7dbdc77c581fb17",
                "73bb7a84f67a225f"
            ]
        ]
    },
    {
        "id": "73bb7a84f67a225f",
        "type": "debug",
        "z": "6b9f3a14870fafb0",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "d879983d.6d20b8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]